# Node dependencies
node_modules/

# Build output
dist/
build/
release/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Environment / secret files
.env

db/*.db

